{% extends "base.html" %}
{% load i18n core_extras %}

{% block page_actions %}
    {% if can_create and create_url_name %}
        {% url_or_blank create_url_name as create_url %}
        {% if create_url %}<a class="button" href="{{ create_url }}">{% translate "Add new" %}</a>{% endif %}
    {% endif %}
    {% block extra_actions %}{% endblock %}
{% endblock %}

{% block content %}
    {% block list_intro %}{% endblock %}
    {% include "components/filters.html" %}
    {% include "components/table.html" %}
    {% include "includes/pagination.html" %}
{% endblock %}
